@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@500&family=Raleway:wght@200;400&display=swap");

body {
  overflow-x: hidden !important;
}
/*
*/
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
/*

*/
* {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
.btn {
  font-weight: 500;
  font-family: "Overpass", sans-serif;
}
header h2,
header .btn {
  font-weight: 400;
}
.lead {
  font-weight: 400 !important;
}
header {
  background-image: url(../imgs/Rectangle\ 21.png),
    url(../imgs/new-homepage-top-bg.png);
  color: #ffffff;
  background-size: cover;
}
nav {
  padding: 0 !important;
}
.navbar-collapse {
  flex-grow: 0;
}

.header-info {
  text-align: center;
}

.btn-danger {
  font-size: 1.25rem;
  background-color: #a3041d;
  border-color: #a3041d;
}

.achives > ul {
  border-top: 6px solid #fff;
  margin-top: 4.25rem;
  padding-top: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 4.25rem;
}
.achives > ul > li > span {
  display: block;
}
.achives > ul > li {
  text-align: center;
}
/* .achives > ul > li + li {
  margin-left: 11.25rem;
} */

.extra-info {
  font-size: 2rem;
}
.about__heading {
  font-size: 3rem;
}
.text-danger {
  color: #a3041d !important;
}
.cs-btn:hover {
  transition: 0.25s ease-in-out;
  background-color: #a3041d !important;
  color: #fff !important;
}
.mb-5 {
  margin-bottom: 4.25rem !important;
}
.layer {
  position: relative;
}
.layer > img {
  z-index: 5;
}
.inner-layer {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 10;
  background-image: url(../imgs/Rectangle\ 302.png);
}

.whychooseus > .container > .row > .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 30px;
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
/* .whychooseus > .container > .card-group > .card::after {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -1px;
  background-color: black;
} */
.whychooseus > .container > .row > .card > * {
  margin-bottom: 20px;
}
.whychooseus > .container > .row > .card:nth-child(odd) {
  background-image: linear-gradient(
    237deg,
    #a3041d 0%,
    #a3041d 40%,
    #bf0a26 30%
  );
  z-index: 0;
  transition: all 0.5s ease-in-out;
  color: #fff;
}

.whychooseus > .container > .row > .card:nth-child(2) {
  z-index: 5;
  background-image: linear-gradient(
    240deg,
    #f7f7f7 0%,
    #f7f7f7 42%,
    rgba(162, 162, 162, 0.15) 40%
  );
  transform: scale(0.9);
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: #050505;
}
.whychooseus > .container > .row > .card:nth-child(2) > h3 {
  color: #a3041d;
}
.whychooseus > .container > .row > .card > p {
  margin-top: 62px;
  padding: 0 3rem;
  text-align: center;
}
.medals-1-3-animate {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.medals-2-animate {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transform: scale(1) !important;
}
@media screen and (min-width: 1200px) {
  .header-info h1 {
    margin-bottom: 24px;
    font-size: 36px;
  }
  .header-info h2 {
    margin-bottom: 40px;
    font-size: 28px;
  }
  .whychooseus > .container > .row > .card:nth-child(2) {
    clip-path: polygon(100% 0, 100% 73%, 49% 89%, 0 73%, 0 0);

    padding-bottom: 460px;
    transform: scale(0.9);
  }
  .whychooseus > .container > .row > .card:nth-child(1) {
    position: relative;
    left: 4px;
    transform: translateX(-50px);
    opacity: 0;
  }
  .whychooseus > .container > .row > .card:nth-child(3) {
    position: relative;
    right: 12px;
    transform: translateX(50px);
    opacity: 0;
  }
  .whychooseus > .container > .row > .card:nth-child(odd) {
    clip-path: polygon(100% 0, 100% 65%, 49% 72%, 0 65%, 0 0);
    margin-top: 40px;
  }
}
.bi-check {
  color: red;
}
.price-item + .price-item {
  margin-left: 10px;
}
.bg-danger {
  background-color: #a3041d !important;
  color: #fff;
}
.price-item > p {
  border-bottom: 2px solid black;
}
.ack-p {
  font-size: 1.5rem;
}
footer {
  background-image: url(../imgs/background-footer.png);
  background-size: cover;
}
.trust {
  background-color: #f7f7f7;
  position: relative;
}
.Acknowledgments {
  position: relative;
}
.carousel {
  position: unset;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black !important;
  position: absolute;
  bottom: 5px;
  background-image: none;
}
.carousel-control-prev-icon::before {
  content: "\21DC";
  position: absolute;
  color: #0e1d27 !important;
  font-size: 3rem;
  bottom: 5px;
  left: 300px;
}
.carousel-control-next-icon::before {
  content: "\21DD";
  position: absolute;
  color: #0e1d27 !important;
  font-size: 3rem;
  bottom: 5px;
  right: 300px;
}
@media (max-width: 800px) {
  .carousel-control-next-icon::before,
  .carousel-control-prev-icon::before {
    font-size: 1.5rem;
  }
  .carousel-control-next-icon::before {
    right: 75px;
  }
  .carousel-control-prev-icon::before {
    left: 75px;
  }
}
.carousel-indicators [data-bs-target] {
  display: inline-block !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  background-color: black !important;
}
.carousel-indicators [data-bs-target].active {
  background-color: #bf0a26 !important;
}
.change-color-w {
  filter: invert(99%) sepia(68%) saturate(1%) hue-rotate(78deg) brightness(113%)
    contrast(101%);
}
.lead {
  font-size: 1.5rem;
}
.contact-us {
  background-image: linear-gradient(
    186.5deg,
    #a3041d 0%,
    #a3041d 51%,
    #bf0a26 35%
  );
}
.charity-contact {
  background-image: linear-gradient(
    208deg,
    #a3041d 0%,
    #a3041d 50%,
    #bf0a26 50%
  );
}
.card-body,
form {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.card-body:hover {
  box-shadow: 0 3px 6px 0 #a3041d;
}
.methodly-items ul {
  list-style: none;
}
.methodly-items li {
  position: relative;
}
.methodly-items li::before {
  position: absolute;
  font-size: 36px;
  content: "\2022";
  color: #a3041d;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  top: -12px;
}
.navbar-nav .nav-link {
  font-size: 28px;
}
/*loader*/
.loader {
  background: var(--white);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}
.loading {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  background: var(--white);
  padding-top: 360px;
  font-family: "Black Ops One", cursive;
}
.loading span {
  display: inline-block;
  font-family: "Black Ops One", cursive;
}
.loader::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 100000;
  height: 320px;
  transform: rotate(127deg);
  top: 89%;
  right: -287px;
  width: 790px;
  animation-delay: 2.5s;
  background: linear-gradient(120deg, var(--red), var(--dark-red));
  animation: loadafter 2.5s alternate;
}
.loading01 span:nth-child(1) {
  animation-delay: 0.2s;
  opacity: 0;
}

.loading01 span:nth-child(2) {
  animation-delay: 0.4s;
  opacity: 0;
}

.loading01 span:nth-child(3) {
  animation-delay: 0.6s;
  opacity: 0;
}

.loading01 span:nth-child(4) {
  animation-delay: 0.8s;
  opacity: 0;
}

.loading01 span:nth-child(5) {
  animation-delay: 1s;
  opacity: 0;
}

.loading01 span:nth-child(6) {
  animation-delay: 1.2s;
  opacity: 0;
}

.loading01 span:nth-child(7) {
  animation-delay: 1.4s;
  opacity: 0;
}
@keyframes loading01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadbefore {
  0% {
    width: 0px;
    opacity: 0;
    height: 0px;
  }
  100% {
    width: 450px;
    height: 234px;
    opacity: 1;
  }
}

@keyframes loadafter {
  0% {
    width: 0px;
    opacity: 0;
    height: 0px;
  }
  100% {
    width: 790px;
    height: 320px;
    opacity: 1;
  }
}
.loading {
  z-index: 10000;
  font-size: 25px;
}
.loader img {
  margin-top: 100px;
  width: 370px;
  height: 150px;
  margin: 100px auto 200px;
  position: absolute;
  z-index: 10000000;
  left: 37%;
  top: 100px;
}
@media (max-width: 767px) {
  .loading {
    z-index: 10000;
    font-size: 25px;
  }
  .loader img {
    margin-top: 100px;
    width: 190px;
    height: 150px;
    margin: 100px auto 200px;
    left: 20%;
    top: 100px;
  }
  .loader::before {
    left: -290px;
  }
  .loader::after {
    right: -387px;
  }
}
@media (max-width: 576px) {
  .loading {
    z-index: 10000;
    font-size: 30px;
  }
  .loader img {
    margin-top: 100px;
    width: 220px;
    height: 150px;
    margin: 100px auto 200px;
    left: 24%;
    top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .loading {
    z-index: 10000;
    font-size: 54px;
  }
  .loader img {
    margin-top: 100px;
    width: 290px;
    height: 150px;
    margin: 100px auto 200px;
    left: 32%;
    top: 100px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .loading {
    z-index: 10000;
    font-size: 54px;
  }
  .loader img {
    margin-top: 100px;
    width: 290px;
    height: 150px;
    margin: 100px auto 200px;
    left: 37%;
    top: 100px;
  }
}
@media (min-width: 1600px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    max-width: 1500px;
  }
}
.white-bg {
  background-image: url(../imgs/background-2.png);
  background-repeat: repeat;
}
/* .dropdown {
  overflow: hidden;
}
.dropdown-menu {
  display: block;
  transform: translateX(-500px);
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.dropdown-menu.show {
  transform: translateX(0);
  opacity: 1;
}
.dropdown-item {
  transition: all 0.5s ease-in-out;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: #a3041d;
} */
/**/
.megasubmenu {
  padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .megasubmenu {
    left: 100%;
    top: 0;
    min-height: 100%;
    min-width: 500px;
  }

  .dropdown-menu > li:hover .megasubmenu {
    display: block;
  }
}
/**/
.postion-absloute {
  position: absolute;
}

/**/
.menu {
  position: absolute;
  background-color: #f8f9fa;
  color: #050505;
  width: 35%;
  left: 34%;
  bottom: -400%;
  height: 350px;
  background-color: #a3041d;
  color: #fff;
  text-transform: capitalize;
}
.menu-2 {
  left: 47%;
  width: 36%;
}
.menu-3 {
  left: 57%;
  width: 30%;
}
@media (min-width: 1299px) and (max-width: 1399px) {
  .menu,
  .menu-1 {
    width: 40%;
  }
  .menu-2 {
    width: 38%;
  }
  .menu-3 {
    width: 33%;
  }
}
@media (min-width: 1099px) and (max-width: 1299px) {
  .menu,
  .menu-1 {
    width: 45%;
  }
  .menu-2 {
    width: 45%;
  }
  .menu-3 {
    width: 40%;
  }
}
@media (max-width: 1099px) {
  .menu,
  .menu-1 {
    width: 55%;
  }
  .menu-2 {
    width: 50%;
  }
  .menu-3 {
    width: 40%;
  }
}
.menu > .col-6.row {
  width: max-content !important;
  background-color: #fff;
}
.bi-badge-tm-fill,
.bi-file-person-fill,
.bi-person-lines-fill,
.bi-menu-down,
.bi-house-door-fill,
.bi-bar-chart-fill,
.bi-windows {
  color: #fff;
  padding: 8px;
}
.nav-pills button.nav-link {
  color: #050505;
  margin-bottom: 12px;
  transition: all 0.5s ease-in-out;
}
.nav-pills button.nav-link:hover {
  background-color: #a3041d;
  color: #fff;
  transform: scale(1.1);
}
.nav-pills button.nav-link.active {
  background-color: #a3041d;
  color: #fff;
  transform: scale(1.1);
}
.tab-pane > ul > li {
  margin-bottom: 12px;
  transition: 0.25s ease-in-out all;
}
.tab-pane > ul > li:hover {
  transform: scale(1.1);
}
[data-menu] {
  transition: all 0.5s ease-in-out;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #bf0a26;
}
.lg-contact {
  font-size: 16px !important;
  font-family: inter, sans-seirf;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 100%;
  border-radius: 40px;
  padding: 12px 16px;
  border-color: transparent !important;
}
/**/
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .lg-nav-bar {
    display: none !important;
  }
  .lg-contact {
    display: none !important;
    border-radius: 40px;
    font-size: 24px !important;
  }
  .menu {
    display: none;
  }
}
.nav-pills button.nav-link.active {
  position: relative !important;
}
.nav-pills button.nav-link.active::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  background-color: #fff;
  right: -2.5rem;
}
.Acknowledgments > h2 {
  overflow: hidden;
  font-size: 2.5rem;
}
/*new modifcations on 1 feburary*/
.navbar-dark .navbar-nav .nav-link {
  font-size: 20px;
  font-family: inter, sans-serif;
}
p {
  font-size: 1.25rem;
}
.tab-pane > ul > li {
  font-size: 16px;
}
.nav-pills button.nav-link {
  font-size: 14px;
}
/*scrollable nav bar*/
body > .navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  z-index: 500000;
  padding: 0 !important;
  transition: all 0.5s ease-in-out;
}
.navbar > .container {
  width: 100%;
  display: flex;
}
header {
  padding-top: 200px;
}
.black {
  background-color: #0d0d0e;
}
@media (max-width: 500px) {
  .img3rd {
    width: 234px;
    height: 222px;
  }
}
@media (min-width: 501px) {
  .img3rd {
    width: 312px;
    height: 296px;
  }
}
.navbar-brand > img {
  width: 50%;
}
.partner_link {
  transition: all 0.5s ease-in;
  padding-top: 12px;
  padding-bottom: 12px;
}
.partner_link:hover {
  transform: scale(1.2);
}
.partner_link:not(:last-child):hover {
  transform: scale(1.1);
  background-color: wheat;
}
.partner_link:nth-of-type(2) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.partner_link:nth-of-type(3) {
  padding-top: 24px;
  padding-bottom: 24px;
}
