header {
  background-image: url(../imgs/Rectangle\ 21.png),
    url(../imgs/new-homepage-top-bg.png);
  color: #ffffff;
}
nav {
  padding: 0 !important;
}
.navbar-collapse {
  flex-grow: 0;
}

.header-info {
  text-align: center;
}

.btn-danger {
  font-size: 2rem;
  background-color: #a3041d;
  border-color: #a3041d;
}

.achives > ul {
  border-top: 6px solid #fff;
  margin-top: 4.25rem;
  padding-top: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 4.25rem;
}
.achives > ul > li > span {
  display: block;
}
.achives > ul > li {
  text-align: center;
}
/* .achives > ul > li + li {
  margin-left: 11.25rem;
} */

.extra-info {
  font-size: 2rem;
}
.about__heading {
  font-size: 3rem;
}
.text-danger {
  color: #a3041d !important;
}
.cs-btn:hover {
  transition: 0.25s ease-in-out;
  background-color: #a3041d !important;
  color: #fff !important;
}
.mb-5 {
  margin-bottom: 4.25rem !important;
}
.layer {
  position: relative;
}
.layer > img {
  z-index: 5;
}
.inner-layer {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 10;
  background-image: url(../imgs/Rectangle\ 302.png);
}

.heading-primary::after {
  content: "";
  display: block;
  width: 5.75rem;
  height: 0.25rem;
  border-radius: 20px;
  box-shadow: 0.3px 0.3px 6px var(--transparent-red);
  background: #a3041d;
  margin: 10px auto;
}
.whychooseus > .container > .row > .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 30px;
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
/* .whychooseus > .container > .card-group > .card::after {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -1px;
  background-color: black;
} */
.whychooseus > .container > .row > .card > * {
  margin-bottom: 20px;
}
.whychooseus > .container > .row > .card:nth-child(odd) {
  background-image: linear-gradient(
    212deg,
    #a3041d 0%,
    #a3041d 50%,
    #bf0a26 50%
  );
  z-index: 0;
}

.whychooseus > .container > .row > .card:nth-child(2) {
  z-index: 5;
  background-image: linear-gradient(
    230deg,
    #f7f7f7 0%,
    #f7f7f7 50%,
    rgba(162, 162, 162, 0.15) 50%
  );
}
.whychooseus > .container > .row > .card > p {
  margin-top: 62px;
}
@media screen and (min-width: 1200px) {
  .header-info h1 {
    font-size: 6rem;
  }
  .header-info h2 {
    font-size: 3rem;
  }
  .whychooseus > .container > .row > .card:nth-child(2) {
    clip-path: polygon(100% 0, 100% 73%, 49% 89%, 0 73%, 0 0);

    padding-bottom: 460px;
  }
  .whychooseus > .container > .row > .card:nth-child(1) {
    position: relative;
    left: 4px;
  }
  .whychooseus > .container > .row > .card:nth-child(3) {
    position: relative;
    right: 12px;
  }
  .whychooseus > .container > .row > .card:nth-child(odd) {
    clip-path: polygon(100% 0, 100% 65%, 49% 72%, 0 65%, 0 0);
    margin-top: 40px;
  }
}
.bi-check {
  color: red;
}
.price-item + .price-item {
  margin-left: 10px;
}
.bg-danger {
  background-color: #a3041d !important;
  color: #fff;
}
.price-item > p {
  border-bottom: 2px solid black;
}
.ack-p {
  margin: 0 5.75rem;
  font-size: 1.75rem;
}
footer {
  background-image: url(../imgs/background-footer.png);
  background-size: cover;
}
.trust {
  background-color: #f7f7f7;
}
.change-color-w {
  filter: invert(99%) sepia(68%) saturate(1%) hue-rotate(78deg) brightness(113%)
    contrast(101%);
}
.lead {
  font-size: 1.5rem;
}
.contact-us {
  background-image: linear-gradient(
    188deg,
    #a3041d 0%,
    #a3041d 50%,
    #bf0a26 50%
  );
}
.charity-contact {
  background-image: linear-gradient(
    208deg,
    #a3041d 0%,
    #a3041d 50%,
    #bf0a26 50%
  );
}
.approach,
.Acknowledgments {
  background-image: url(../imgs/background-2.png);
}
